{% extends "base.html" %} 

{% block start %}
{% load static %}
<div class="koka">
  <div class="koka1">
    <div class="card">
    <div class="face front">
      <img src="{% static 'images/upsc4.jpeg' %}" alt="nothing">
      <h3>Artificial Intelligence</h3>
    </div>
    <div class="face back">
      <h2>AI & ML Training Course</h2>
     
        <h4><i class="fa-solid fa-graduation-cap"></i>completion certificate</h4>
        <H4 ><i class="fa-solid fa-book"></i> 30 Hrs of live classes</H4>
       
        <h4 style="margin-right: 15%;"><i class="fa-regular fa-calendar-days"></i> weekday Classes    </h4>
     
      <div class="link">
        <a href="#">Buy Course</a>
      </div>
    </div>
    </div>
    <div class="card">
    <div class="face front">
      <img src="{% static 'images/gate3.jpeg' %}" alt="nothing">
      <h3>Cyber Security</h3>
    </div>
    <div class="face back">
      <h2>Cyber Security Courses</h2>
     
        <h4><i class="fa-solid fa-graduation-cap"></i>completion certificate</h4>
        <H4 ><i class="fa-solid fa-book"></i> 30 Hrs of live classes</H4>
       
        <h4 style="margin-right: 15%;"><i class="fa-regular fa-calendar-days"></i> weekday Classes    </h4>
     
      <div class="link">
        <a href="#">Buy Course</a>
      </div>
    </div>
    </div>
    <div class="card">
    <div class="face front">
      <img src="{% static 'images/datascience.jpeg' %}" alt="nothing">
      <h3>Data Science</h3>
    </div>
    <div class="face back">
      <h2>Data Science Course</h2>
     
        <h4><i class="fa-solid fa-graduation-cap"></i>completion certificate</h4>
        <H4 ><i class="fa-solid fa-book"></i> 30 Hrs of live classes</H4>
       
        <h4 style="margin-right: 15%;"><i class="fa-regular fa-calendar-days"></i> weekday Classes    </h4>
     
      <div class="link">
        <a href="#">Buy Course</a>
      </div>
    </div>
    </div>
</div>
  <div class="koka2">
    <div class="card">
      <div class="face front">
        <img src="{% static 'images/rock2.jpeg' %}" alt="nothing">
        <h3>Full Stack Python</h3>
      </div>
      <div class="face back">
        <h2>Python development Courses</h2>
     
        <h4><i class="fa-solid fa-graduation-cap"></i>completion certificate</h4>
        <H4 ><i class="fa-solid fa-book"></i> 30 Hrs of live classes</H4>
       
        <h4 style="margin-right: 15%;"><i class="fa-regular fa-calendar-days"></i> weekday Classes    </h4>
     
      <div class="link">
        <a href="#">Buy Course</a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="face front">
        <img src="{% static 'images/stopit.jpeg' %}" alt="" />
        <h3>Mobile Development</h3>
      </div>
      <div class="face back">
        <h2>Mobile Development Course</h2>
     
        <h4><i class="fa-solid fa-graduation-cap"></i>completion certificate</h4>
        <H4 ><i class="fa-solid fa-book"></i> 30 Hrs of live classes</H4>
       
        <h4 style="margin-right: 15%;"><i class="fa-regular fa-calendar-days"></i> weekday Classes    </h4>
     
      <div class="link">
        <a href="#">Buy Course</a>
        </div>
      </div>
    </div>
  
    <div class="card">
      <div class="face front">
        <img src="{% static 'images/coffie.jpeg' %}" alt="" />
        <h3>Full Stack Java</h3>
      </div>
      <div class="face back">
        <h2>Full Stack Java Course</h2>
     
        <h4><i class="fa-solid fa-graduation-cap"></i>completion certificate</h4>
        <H4 ><i class="fa-solid fa-book"></i> 30 Hrs of live classes</H4>
       
        <h4 style="margin-right: 15%;"><i class="fa-regular fa-calendar-days"></i> weekday Classes    </h4>
     
      <div class="link">
        <a href="#">Buy Course</a>
        </div>
      </div>
    </div>
  </div>
  </div>
  
{% endblock %}