{% extends "base.html" %} 

{% block start %}
{% load static %}

<h1 style="padding-top: 1%; text-align: center; font-size: 50px; font-family: Arial, Helvetica, sans-serif;">{{sdata.name121}}</h1>
<div style="text-align: start; margin-left: 3%; ">
    <h1 style="margin-top: 1%;"> Syllabus</h1>
    <div style="color: rgb(124, 124, 231); padding-left: 5%; padding-bottom: 1%;">
        
        {{sdata.syllabus2 | unordered_list }}

    </div>
</div>
        
<div class="fullboxback" style="display: flex;align-items: start; margin-bottom: 2%; padding-left: 7%;">
     <iframe style=" object-fit: cover; height: 42vh; width: 35%; border-radius: 7%; " src="{{sdata.text151}}" frameborder="0"></iframe>
    
    <div style="font-family: Arial, Helvetica, sans-serif; font-size: 17px; height: 40vh; width: 60%; margin-left: 4%; padding-top: 2%; text-align: justify;" >{{sdata.description}}</div>
</div>
<div class="fullboxback" style="display: flex;align-items: start; margin-bottom: 2%; padding-left: 7%;">
    <iframe style=" object-fit: cover; height: 42vh; width: 35%; border-radius: 7%; " src="{{sdata.text161}}" frameborder="0"></iframe>
   
   <div style="font-family: Arial, Helvetica, sans-serif; font-size: 17px; height: 40vh; width: 60%; margin-left: 4%; padding-top: 2%; text-align: justify;" >{{sdata.descriptionn11}}</div>
</div>
<div class="fullboxback" style="display: flex;align-items: start; margin-bottom: 2%; padding-left: 7%;">
    <iframe style=" object-fit: cover; height: 42vh; width: 35%; border-radius: 7%; " src="{{sdata.text61}}" frameborder="0"></iframe>
   
   <div style="font-family: Arial, Helvetica, sans-serif; font-size: 17px; height: 40vh; width: 60%; margin-left: 4%; padding-top: 2%; text-align: justify;" >{{sdata.descriptionn12}}</div>
</div>

    
    {% endblock %}   
    
